@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@import "tailwindcss";

@theme {
  --color-brand-taupe: #967969;
  --color-brand-beige: #F5F5DC;
  --color-brand-charcoal: #36454F;
  --color-brand-cream: #FAF9F6;
  --color-brand-gray: #F9FAFB;
  --font-content: 'Lato', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Hide scrollbar but keep functionality */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Fade transitions */
.view-transition {
  transition: opacity 0.3s ease-in-out;
}